<!DOCTYPE html>
<html lang="it">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Inserisci giocatore - Juventus</title>
</head>
<div class="container">
  <h1 class="header">Statistiche Juventus</h1>
  <h3 class="header">Stagione 2020/2021</h3>

  <form>
    <br>
    <label for="cognome"><input type="text" id="cognome" name="cognome" placeholder="Cognome" required></label>
    <br><br>
    <input type="submit" name='insert' value="Inserisci" class="btn btn-success">
  </form>

  <br>

  <div>
  <a href="/giocatori"><h3 class="footer">Indietro</h3></a>
  </div>
</body>
</html>
