<!DOCTYPE html>
<html lang="it">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Giocatori - Juventus</title>
</head>
<body>
<div class="container">
    <h1>Statistiche Juventus</h1>
    <h3>Stagione 2020/2021</h3>
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Giocatore</th>
        <th>Goals</th>
      </tr>
    </thead>
    <tbody>
    <!-- Riga è un oggetto, ossia il singolo oggetto Giocatore -->
    %for giocatore in righe:
        <tr>
            <td>{{ giocatore.id }}</td>
            <td>{{ giocatore.nome }}</td>
            <td>{{ giocatore.totale }}</td>
        </tr>
    %end
    </tbody>
  </table>
  </div>

  <div>
      <a href="/giocatori/insert"><h3 class="btn btn-success">Inserisci giocatore</h3></a>
      <a href="/giocatori/delete"><h3 class="btn btn-danger">Elimina giocatore</h3></a>
  </div>
  <br>
  <div>
      <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
  </div>
</div>
</body>
</html>
